extends layout


block content
  link(rel='stylesheet' href='/stylesheets/indexx.css')
  if user
    include partials/navbar-authenticated
    include partials/error-message
      div(class="jumbotron")
        h1 Welcome to foodYBuddY, #{user.uid}.
  else
    include partials/navbar-unauthenticated
    include partials/error-message
      div(class="jumbotron")
        h1 Welcome to foodYBuddY


